[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "==6.4.2"
qt-pyqt-pyside-custom-widgets = "1.0.2"
pyside6 = "6.8.3"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
